[Desktop Entry]
Name=Connected
Comment=Phone connectivity via KDE Connect
Type=Application
Exec=cosmic-applet-connected
Icon=phone-symbolic
Terminal=false
Categories=COSMIC;
NoDisplay=true
X-CosmicApplet=true
X-CosmicHoverPopup=Auto
X-OverflowPriority=10
